.btn-link {
    display: block;
    width: 150px;
    height: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background-color: #6b5b95;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 18px;
}

.btn-link:hover {
    background-color: #b9b0cf;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.button {
    display: block;
    float: right;
    width: 150px;
    height: 40px;
    margin-right: 30px;
    margin-bottom: 2px;
    padding-top: 15px;
    background-color: #0d0b13;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background-color: #6b5b95;
}

.btn-edit {
    display: block;
    width: 100%;
    background-color: #6b5b95;
    color: #FDF7F6;
    height: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn-edit:hover {
    background-color: #b9b0cf;
}

input[type=submit] {
    width: 140px;
    margin-right: 20px;
    font-size: 18px!important;
}

.btn {
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background-color: #493331;
}

.btn:hover {
    background-color: #b9b0cf;
}

.continue {
    width: 390px!important;
    height: 40px;
    /* float: center!important; */
}

.continue a {
    color: whitesmoke;
}