input[type=text] {
    width: 500px;
    margin-bottom: 30px;
}

.fields {
    margin-bottom: 20px;
}

input[type=submit] {
    width: 460px;
}

.button-submit {
    margin-bottom: 15px;
    margin-left: 30px;
}

.layout {
    height: 570px !important;
}

h4 {
    font-weight: normal;
    padding: 14px;
}